body {
    font-family: Century Gothic,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: relative;
}
.list {
    list-style-type: none;
}
.clearfix {
    clear: both;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    max-width: 960px;
    padding: 0;
    position: relative;
    width: 100%;
}
ul {
    margin: 0;
}
a,
button{
    text-decoration: none;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}
a:hover {
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
}
h1{
    color: #697717;
    font-size: 24px;
    text-align: center;
}
.banner{
    background-color: #f4e6d0;
    padding: 30px 55px 0 0;
    text-align: right;
}
.logo{
    display: inline-block;
    margin-bottom: 20px;
    width: 655px;
}
.title{
    color: #697717;
    font-size: 18px;
    padding: 0 156px;
    text-align: center;
}
.down_btn{
    background: url("../img/down_btn.png") no-repeat;
    cursor: pointer;
    display: block;
    height: 0;
    margin: 15px auto;
    overflow: hidden;
    padding-top: 64px;
    width: 64px;
}
.list_of_spec{
    background-color: #fff;
    padding: 5px 0 80px;
}
.tabs li,
.choose li{
    display: inline-block;
    padding-right: 25px;
}
.tabs li a:hover{
    border-bottom: 2px solid #6c7a19;
}
.choose{
    margin-bottom: 20px;
    padding: 10px 0 0 20px;
}
.choose li{
    padding-right: 15px;
}
.tabs.nav.nav-tabs li a,
.tabs li a,
.choose li a{
    color: #6c7a19;
    font-size: 18px;
}
.choose li a{
    background: url("../img/choose.png") no-repeat bottom 4px right;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    padding-right: 20px;
}
.choose li ul{
    padding-bottom: 5px;
}
.choose li ul li{
    display: block;
    padding-left: 5px;
}
.choose li ul li a{
    background: 0;
    display: block;
    font-size: 16px;
    margin-right: 0;
}
.slider{
    margin-bottom: 0;
}
.slick-arrow{
    background: #fff url("../img/left_arrow.png") center center no-repeat;
    height: 100%;
    position: absolute;
    top: 10px;
    opacity: 0.8;
    width: 20px;
}
.slick-arrow:hover{
    background: #fff url("../img/left_arrow.png") center center no-repeat;
    opacity: 0.7;
    width: 40px;
}
.slick-prev{
    left: 0;
    z-index: 1;
}
.slick-next{
    background: #fff url("../img/right_arrow.png") center center no-repeat;
    right: 0;
}
.slick-next:hover{
    background: #fff url("../img/right_arrow.png") center center no-repeat;
}
.slick-next:before,
.slick-prev:before{
    display: none;
}
.slider .slick-slide{
    margin-right: 10px;
}
.about_img{
    background-color: #edf3c6;
    border-bottom: 4px solid #728010;
    color: #6c7a19;
    padding: 10px 10px 20px 10px;
}
.name{
    border-bottom: 2px solid #6c7a19;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.about_img img{
    display: inline-block;
    padding-left: 5px;
}
.login{
    background: #cede5e url("../img/flower_bg.png") no-repeat top center;
    padding-top: 10px;
}
.login form a:hover{
    text-decoration: underline;
}
.login form div,
.login form a,
.login .col-md-6:last-child div,
.why li,
.asc,
.menu_btm li a{
    color: #697717;
    font-size: 18px;
}
.login form input{
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 20px;
    max-width: 160px;
    outline: none;
    padding: 0 10px;
}
.login form input[type="button"]{
    float: right;
    margin-right: 5px;
    padding: 0 10px;
    width: 80px;
}
.login form input[type="button"]:hover{
    background-color: #697717;
    color: #fff;
}
.login form .col-md-6{
     padding-right: 75px;
 }
.login form .col-md-6:first-child{
    text-align: center;
}
.login form .col-md-6:first-child div,
.login form .col-md-6:first-child input{
    text-align: left;
}
.registration{
    display: inline-block;
    margin-top: 15px;
}
.soc_enter,
.soc_list{
    margin-bottom: 5px;
    text-align: center;
}
.soc_list li{
    display: inline-block;
    margin-right: 10px;
}
.soc_list li a{
    background: url("../img/soc_icons.png") no-repeat;
    display: inline-block;
    height: 0;
    overflow: hidden;
    padding-top: 52px;
    width: 50px;
}
.soc_list li a:hover{
    background: url("../img/soc_icons_hover.png") no-repeat;
}
.soc_list li a.facebook{
    background-position: -60px 0;
}
.soc_list li a.twitter{
     background-position: -120px 0;
 }
.soc_list li a.google_plus{
    background-position: -180px 0;
}
.soc_list li a.odnoklasniki{
    background-position: -240px 0;
}
.login h1{
    margin: 40px 0 30px;
}
.why{
    margin: 0 auto 50px;
    width: 530px;
}
.why li{
    padding-bottom: 5px;
    position: relative;
}
.why li:after{
    background: url("../img/flower_icon.png") no-repeat left;
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;
    top: 2px;
    width: 30px;
}
.asc{
    background: url("../img/top_flowers_border.png") no-repeat top center;
    padding: 100px 0 50px;
    text-align: center;
}
.asc a{
    border-bottom: 1px solid #697717;
    color: #697717;
    font-weight: 600;
}
footer{
    background-color: #cede5e;
}
footer .container{
    border-top: 2px solid #99b739;
    padding: 15px 0 40px;
}
.menu_btm{
    text-align: center;
}
.menu_btm li{
    display: inline-block;
    margin-right: 20px;
}
.menu_btm li a:hover{
    text-decoration: underline;
}
.registr_form{
    bottom: 260px;
    display: none;
    left: 50%;
    margin-left: -117px;
    margin-top: 155px;
    position: absolute;
    width: 395px;
    z-index: 3;
}
.popup_bg{
    background-color: #2c310b;
    bottom: 0;
    display: none;
    height: 674px;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.registr_form input{
    border: 2px solid #cede5e;
    border-radius: 5px;
    height: 26px;
    margin: 0 15px 18px 0;
    outline: 0;
    padding: 0 5px;
    width: 225px;
}
.registr_form input:last-of-type{
    background-color: #cede5e;
    border: 0;
    color: #697717;
    height: 27px;
    font-size: 14px;
    margin-top: 20px;
}
.registr_form input:last-of-type:hover{
    background-color: #697717;
    color: #fff;
}
.registr_form span{
    color: #fff;
}
.popup{
    cursor: pointer;
}
.show_me{
    display: block;
}
header{
    background-color: #cede5e;
}
.little_logo,
nav{
    float: left;
}
.little_logo{
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    margin-right: 22px;
}
nav ul li:last-child{
    margin-right: 0;
}
nav ul li a{
    color: #a0af35;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 5px 45px;
}
nav ul li a:focus{
    color: #a0af35;
}
nav ul li a:hover,
nav ul li a.active{
    background: #a0af35 url("../img/flow_icon.png") no-repeat center bottom;
    color: #e6ed88;
}
.search{
    padding-top: 3px;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
}
.search input:first-child{
    background: transparent;
    border: 0;
    border-bottom: 2px solid #6c7a19;
    font-size: 16px;
    outline: 0;
    width: 94%;
}
.search input[type="button"]{
    background: url("../img/loop.png") no-repeat;
    border: 0;
    height: 26px;
    width: 23px;
}
.tabs.profile{
    border: 0;
}
.tabs.profile.nav.nav-tabs li a{
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 10px;
}
.tabs.profile li a:hover{
    border: 0;
}
.tabs.profile.nav.nav-tabs li.active a{
    background-color: #cede5e;
}
.list_of_spec.doctors{
    background: url("../img/flower_bg.png") no-repeat top center;
    padding-bottom: 120px;
}
.page{
    min-height: 940px;
}
.doctors .col-md-3{
    color: #6c7a19;
    font-size: 14px;
    margin-bottom: 5px;
}
.doctors .col-md-3 span{
    margin-left: 70px;
}
.hidden_block{
    background: #e0e258 url("../img/border_flow.png") no-repeat center center;
    height: 250px;
    opacity: 0;
    padding: 35px 10px 10px;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.2s linear 0s ;-moz-transition: all 0.2s linear 0s ;-ms-transition: all 0.2s linear 0s ;-o-transition: all 0.2s linear 0s ;transition: all 0.2s linear 0s ;
    width: 200px;
    z-index: 2;
}
.hidden_block div{
    color: #fff;
}
.hidden_block div:first-child{
    border-bottom: 2px solid #fff;
    font-size: 16px;
    font-weight: 600;
}
.hidden_block div:last-of-type{
    margin-bottom: 45px;
}
.hidden_block a{
    color: #6c7a19;
    display: block;
    margin-bottom: 10px;
}
.hidden_block a:hover{
    color: #fff;
}
.doctors .col-md-3 .inner_wrapper:hover .hidden_block{
    display: block;
    opacity: 1;
}
.photo{
    max-height: 250px;
    max-width: 200px;
}
.inner_wrapper{
    margin-right: 17px;
}
.pagi{
    text-align: center;
}
.pagi li{
    display: inline-block;
}
.pagi li a{
    border-radius: 50%;
    color: #6c7a19;
    display: inline-block;
    font-size: 18px;
    height: 30px;
    padding: 2px 10px;
    width: 30px;
}
.pagi li a:hover,
.pagi li.active a{
    background-color: #cede5e;;
}
.doctors+footer{
    background-color: #fff;
}
.doctors+footer .container{
    background: url("../img/ornament.png") repeat-x top left -4px;
    border: 0;
    padding-top: 25px;
}
.go_top{
    bottom: -100px;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 2;
}
.specialist .tabs li{
    padding-right: 5px;
}
.specialist .page{
    color: #a0af35;
    margin-top: 35px;
    padding: 0 15px;
}
.specialist .col-md-4 .col-md-4{
    background-color: #cede5e;
    border-radius: 5px;
    color: #a0af35;
    font-size: 14px;
    font-weight: bold;
    height: 100px;
    text-align: center;
    padding-top: 36px;
    width: 100px;
}
.specialist .col-md-4 .col-md-8{
    padding: 0 8px;
}
.specialist .col-md-4 .col-md-8 div:first-child{
    font-size: 18px;
    font-weight: bold;
}
.specialist .col-md-8{
    font-size: 16px;
    padding-right: 75px;
}
.specialist .col-md-8 a{
    background-color: #cede5e;
    border-radius: 5px;
    color: #a0af35;
    display: inline-block;
    float: right;
    margin-top: 40px;
    padding: 0 5px;
}
.article{
    background: url("../img/green_flow_icon.png") no-repeat bottom center;
    padding-bottom: 40px;
}
